:root {
  --primary: #0A8FA3;
  --secondary: rgb(108, 202, 216);
  --white: #fff;
  --gray-dark: #515151;
  --cyan: #17a2b8;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Castoro', serif;
  color: var(--gray-dark);
  font-size: 20px;
  line-height: 3;
}
.container {
  max-width: 1296px;
  margin: 20px auto;
  box-shadow: 1px 5px 10px #ccc;
  padding: 20px;
}
.wrap {
  max-width: 1256px;
  margin: 0 auto;
  background-color: var(--primary);
  border: 5px solid var(--secondary);
  color: var(--white);
  border-bottom: 0;
}
.wrap h3 {
  text-align: right;
  padding-right: 30px;
}
.d-flex {
  display: flex;
}
.m-10px {
  margin: 10px 0;
}
.padding-12px {
  padding: 12px;
}
.fw-600 {
  font-weight: 600;
}
.color-white {
  color: var(--white);
}
.d-block {
  display: block;
}
.header-left {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.header-img {
  border: 5px solid var(--secondary);
  border-radius: 50%;
  width: 300px;
  background: url('./img/my-picture.jpg');
  background-repeat: no-repeat;
  background-position: 55% center ;
  background-size: cover;
}
.title-name-box {
  margin-left: 24px;
}
.my-name {
  font-size: 40px;
  margin: 10px 0;
}
.header-center {
  width: 30%;
}
.header-right {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.header-right a {
  display: block;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  transition: .5s;
}
.header-right a:hover {
  color: black;
  transform: scale(1.1);
}
.header-right img {
  width: 100px;
  /* vertical-align: middle; */
}
.job-title {
  text-align: end;
  margin: 0 40px;
  font-size:x-large;
  font-weight: bold;
}
.contact {
  padding-inline-start: 0;
}
.contact li{
  padding: 15px 10px;
  list-style: none;
}
.contact svg, .contact img, .contact .material-icons {
  transform: translateY(5px);
}
.contact .material-icons {
  color: var(--white);
  background: #000;
  border: 6px solid #000;
  border-radius: 50%;
}
.contact a {
  display: inline-block;
  text-decoration: none;
  transition: .5s;
}
.contact a:hover {
  color: black;
}
.content-left {
  width: 100%;
  border-left: 5px solid var(--primary);
}
.content-left-wrap {
  margin: 20px 0;
  padding:  0 20px;
}
.item-mb {
  margin-bottom: 60px;
}
.content-item4 h3{
  margin: 0;
  font-size: 1em;
}
.content-item4 .company {
  display: inline;
}
.content-right {
  width: 100%;
  border-right: 5px solid var(--primary);
  border-left: 5px solid var(--primary);
}
.content-right-wrap {
  margin: 20px 0;
  padding:  0 20px;
}
.title {
    text-transform: capitalize;
    color: var(--primary);
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
}
h2::before {
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background: var(--primary);
  position: absolute;
  bottom: 0px;
}
::marker {
  color: var(--secondary);
  font-size: 20px;
}
.content-item3 p {
  line-height: 40px;
}
.content-item1 {
  display: flex;
  justify-content: space-between;
}
.content-item1 h4 {
  margin-bottom: 0;
}
.skill-left h4 , .skill-right h4 , .skill-center h4 {
  color: var(--cyan);
}
footer {
    background: var(--primary);
    text-align: right;
    color: var(--white);
    padding-right: 30px;
}
/* ====== RWD ======= */
@media screen and (max-width: 992px) {
  body {
    font-size: 1rem;
  }
  .header-img {
    max-width: 250px;
  }
  .my-name {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
  .header-left {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 0;
  }
  .header-img {
    width: 30%;
    height: 200px;
    margin: 0;
  }
  .title-name-box {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .header-center {
    width: 100%;
    text-align: center;
  }
  
  .header-right {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  h2::before {
    bottom: 5px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .content-left {
    border: 5px solid var(--primary);
    border-top: 0;
    border-bottom: 0;
  }
  .content-right {
    border: 5px solid var(--primary);
    border-top: 0;
  }
  .content-item1 h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 540px) {
  .header-img {
    width: 40%;
  }
} 
@media screen and (max-width: 415px) {
  .wrap h3 {
    text-align: center;
    padding: 0;
  }
  .header-img {
    width: 60%;
  }
  .title-img-box {
    margin: 0 20px;
  }
  .content-item1 {
    padding-left: 0;
  }
  ul {
    padding-left: 20px;
  }
  footer {
    font-size: 12px;
  }
}