:root {
  --primary: #0A8FA3;
  --secondary: rgb(108, 202, 216);
  --white: #fff;
  --gray-dark: #515151;
  --cyan: #17a2b8;
}
body {
  font-family: "Noto Sans TC",sans-serif;
  color: var(--gray-dark);
  padding: 30px;
  font-size: 18px;
}
.container {
  max-width: 1200px;
  margin: auto;
  box-shadow: 1px 5px 10px #ccc;
}
.d-flex {
  display: flex;
}
.m-20px {
  margin: 20px;
}
.padding-12px {
  padding: 12px;
}
.fw-600 {
  font-weight: 600;
}
.color-white {
  color: var(--white);
}
.header {
  background-color: var(--primary);
}
.header-left {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0px 0px 30px;
  border-top: 5px solid var(--secondary);
  border-left: 5px solid var(--secondary);
}
.title-img-box {
  border: 5px solid var(--secondary);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: url('./Jin.jpg');
  background-repeat: no-repeat;
  background-position: 45% center ;
  background-size: cover;
}
.my-name {
  font-size: 40px;
  margin: 10px 0;
}
.header-right {
  width: 100%;
  margin: 30px 30px 0px 0;
  border-top: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
}
.job-title {
  text-align: end;
  margin: 0 40px;
  font-size:x-large;
  font-weight: bold;
}
.contact{
  padding: 15px 10px;
}
.contact svg, .contact img, .contact .material-icons {
  transform: translateY(5px);
}
.contact .material-icons {
  color: var(--white);
  background: #000;
  border: 6px solid #000;
  border-radius: 50%;
}
.contact a {
  display: inline-block;
  text-decoration: none;
  transition: .5s;
}
.contact a:hover {
  color: black;
}
.content-left {
  width: 100%;
  margin: 0px 0px 30px 30px;
  border-bottom: 5px solid var(--primary);
  border-left: 5px solid var(--primary);
}
.content-left-wrap {
  margin: 20px 0;
  padding:  0 20px;
}
.content-item ul h2 {
  line-height: 30px;
}
.item-mb {
  margin-bottom: 60px;
}
.content-item4 h3{
  margin: 0;
  font-size: 1em;
}
.content-item4 .company {
  display: inline;
}
.content-right {
  width: 100%;
  margin: 0px 30px 30px 0;
  border-right: 5px solid var(--primary);
  border-left: 5px solid var(--primary);
  border-bottom: 5px solid var(--primary);
}
.content-right-wrap {
  margin: 20px 0;
  padding:  0 20px;
}
.title {
    text-transform: capitalize;
    color: var(--primary);
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
}
h2::before {
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background: var(--primary);
  position: absolute;
  bottom: 0px;
}
ul {
  line-height: 250%;
}
::marker {
  color: var(--secondary);
  font-size: 28px;
}
div {
    line-height: 60px;
}   
.content-item3 p {
  line-height: 40px;
}
.content-item1 {
  display: flex;
  justify-content: space-between;
}
.content-item1 h4 {
  margin-bottom: 0;
}
.skill-left h4 , .skill-right h4 , .skill-center h4 {
  color: var(--cyan);
}
footer {
    height: 50px;
    background: var(--primary);
    text-align: right;
    color: var(--white);
    padding-right: 30px;
}
/* ====== RWD ======= */
@media screen and (max-width: 992px) {
  body {
    font-size: 1rem;
  }
  .title-img-box {
    max-width: 200px;
    max-height: 225px;
  }
  .my-name {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .header-left {
    margin: 30px 30px 0 30px;
    border: 5px solid var(--secondary);
    border-bottom: 0;
  }
  .title-name-box h4 {
    margin: 0;
  }
  .header-right {
    display: flex;
    justify-content: space-around;
    margin: 0px 30px 0px 30px;
    border: 5px solid var(--secondary);
    border-bottom: 0;
    border-top: 0;
  }
  .job-title {
    position: absolute;
    top: 28px;
    right: 28px;
  }
  h2::before {
    bottom: 5px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .content-left {
    width: auto;
    margin: 0px 30px;
    border: 5px solid var(--primary);
    border-top: 0;
    border-bottom: 0;
  }
  .content-right {
    width: auto;
    margin: 0px 30px 30px 30px;
    border: 5px solid var(--primary);
    border-top: 0;
  }
  .content-item1 h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 644px) {
  .title-img-box {
    max-width: 180px;
    max-height: 200px;
  }
  .contact {
    line-height: 150%;
    text-align: center;
  }
  .contact .material-icons {
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 540px) {
  .header-right {
    display: flex;
    flex-direction: column;
  }
  .contact {
    text-align: start;
  }
}
@media screen and (max-width: 415px) {
  body {
    padding: 0;
  }
  .header-left {
    display: flex;
    flex-direction: column-reverse;
    margin: 24px 24px 0 24px;
  }
  .header-right {
    display: flex;
    justify-content: space-around;
    margin: 0 24px;
    border: 5px solid var(--secondary);
    border-bottom: 0;
    border-top: 0;
  }
  .job-title {
    position: absolute;
    top: 30px;
    right: auto;
  }
  .title-img-box {
    margin: 0 20px;
  }
  .title-name-box {
    margin: 0;
    padding: 40px 0 0 0;
  }
  .my-name {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
  .contact {
    padding: 15px 0px 15px 20px;
  }
  .content-left {
    margin: 0 24px;
  }
  .content-right {
    margin: 0 24px 24px 24px;
  }
}